<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input
        placeholder="Seu E-Mail"
        [(ngModel)]="loginForm.email"
        text-right
        email
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input
        placeholder="Sua senha"
        [(ngModel)]="loginForm.password"
        text-right
        type="password"
        required
      ></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="post()">Cadastrar</ion-button>
  </ion-card>
</ion-content>
